name: promptpay_qrcode_generate
description: Promptpay QR Code Generate An easy way to generate Prompt-pay QR Code from prompt-pay id
version: 1.0.1
homepage: https://github.com/SEMAJdev/promptpay_qrcode_generate

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  qr_flutter: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  assets:
    - assets/images/
